.order {
    background-image: url(../src/img/background_order.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 21px 0 37px 0;
}

.order_item {
    list-style: none;
    color: #959595;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.order_title {
    color: #FFF;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.order_btn {
    border-radius: 16px;
    background: #8E32C6;
    border: none;
    padding: 20px 49px 20px 48px;

    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    display: flex;
    justify-content: center;
}

.order_item {
    border-radius: 50px;
    background: #FFF;
}

.order_form_wrapper {
    width: 690px;
    height: 60px;
    border-radius: 50px;
    background: #FFF;
    padding: 13px 78px 13px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order_form input {
    color: #959595;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
}

.order_form input[type="text"] {
    width: 580px;
    height: 50px;

    border-radius: 50px;
    background: #FFF;
} 

.order_form_wrapper input[type="email"] {
    font-size: 28px;
    border: none;
}

.order_form_wrapper input[type="button"] {
    color: #8D8D8D;
    font-size: 28px;
    line-height: normal;
    border: none;
    background: #FFF;
    cursor: pointer;
}

.order_form input[type="text"] {
    padding: 11px 0 11px 24px;
}

.order_form {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    gap: 19px;
}