.works {
    background-image: url(../img/background_PQ_IP.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 105px 0;
    height: 606px;
}

.works_item_title {
    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

}

.works_item {
    list-style: none;
}

.works_list {
    gap: 145px;
    display: flex;
    justify-items: space-between;
}