.works {
    background-image: url(../img/background_PQ_IP.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 105px 0;
    height: 606px;
}

.works_item_title {
    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

}

.works_item {
    list-style: none;

    border-right: 1px solid #FFF;
    height: 346px;
    padding-right: 95px;
}

.works_item:last-child {
    border: none;
}

.works_list {
    gap: 145px;
    display: flex;
    justify-items: space-between;

    stroke-width: 5px;
    stroke: #8E32C6;
    border: 5px solid #8E32C6;
    padding: 22px 50px 19px 50px;
}